body{
  background: linear-gradient(to right, blue,red,violet,blue,aqua,violet,blue);
  padding: 104px;
}
div{
margin-top: -84px;
margin-left: 500px;
color:blue;
}        


.form1{
border-bottom: 2px;
background-color: white;
width: 598px;
padding: 22px;
margin: auto;
text-align: center;
border: 3px solid orange;
box-shadow: 0 0 12px orangered;

}
.form1 h2{
text-align: center;
color: blue;
font-style: italic;
font-size: 43px;
}
.form2 h2{
text-align: center;
color: blue;
font-style: italic;
font-size: 43px;
}
.form1 input{
padding: 13px 150px;
font-style: italic;
box-shadow: 0 0 12px gray;
color: blue;
border: none;
outline: none;
font-size: 22px;
margin-left: -32px;

}
.dropdown-content{
display: none;
position: absolute; 
margin-left: 400px;
margin-top: -12px;
list-style: none;
}
ul .dropdown{
list-style: none;
}
.dropdown-content a{
text-decoration: none; 
}
.dropdown-content p{
color: gray;
}
.dropdown:hover .dropdown-content{
display: block;
}
strong{
color: blue;
margin-top: -400px;
}
.div2{
color: red;
background-color: gray;
}
.form1 button{
padding: 12px 44px;
margin-top: -12px;
margin-left: -20px;
box-shadow: 0 0 12px gray;
background-color: white;
border: none;
font-weight: bold;
color: blue;
font-style: italic;
font-size: 20px;
}

.form1 .label1{
margin-left: -370px;
color: blue;
font-style: italic;
font-weight: bold;
font-size: 22px;
}
.form1 .label2{
margin-left: -410px;
font-size: 22px;
color: blue;
font-style: italic;
font-weight: bold;
}
.form1 .ax{
margin-left: 35px;
color: orange;
font-style: italic;
font-weight: bold;
font-size: 15px;
}
.form1 .ax{
text-decoration: none;
}
.form1 .ax:hover{
border-bottom: 4px solid green;
font-weight: bold;
}
p{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
@media screen and (max-width: 768px){
.form1{
width: 100%;
}
}
@media screen and (max-width: 768px) 
{
  .form1{
      width: 100%;
     
  }
}
@media screen and (max-width: 420px) 
{
  .form1{
      width: 100%;
      padding: 40px;               
  }
}